<cv-toolbar>
    <span slot="title">{{sectionName}}</span>
    <cv-icon-button slot="actionItems" icon="info"></cv-icon-button>
    <cv-button label="Train model" slot="actionItems" outlined></cv-button>
    <cv-icon-button slot="actionItems" icon="more_vert"></cv-icon-button>
</cv-toolbar>

<img src="assets/placeholder-content/model-run-chart.png" style="width: 100%; margin: 0 auto; display: block;" />

<div class="cv-search-bar">
    <cv-icon>search</cv-icon>
    <cv-typography scale="body2">Search...</cv-typography>

    <span style="flex: 1;"></span>

    <cv-formfield label="Show archived"><cv-switch></cv-switch></cv-formfield>
    <cv-icon-button icon="view_list"></cv-icon-button>
    <cv-icon-button icon="filter_list"></cv-icon-button>

</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <ng-container matColumnDef="dataset">
        <th mat-header-cell *matHeaderCellDef>Dataset</th>
        <td mat-cell *matCellDef="let element">{{element.dataset}}</td>
    </ng-container>

    <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let element">
            <cv-chip-set>
                <cv-chip *ngFor="let tag of element.tags" [label]="tag"></cv-chip>
            </cv-chip-set>
        </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Creation date</th>
        <td mat-cell *matCellDef="let element">{{element.date}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['run', row.id]"></tr>
</table>