<cv-toolbar>
    <span slot="title">{{ sectionName }}</span>
    <cv-icon-button slot="actionItems" icon="info"></cv-icon-button>
    <cv-icon-button slot="actionItems" icon="more_vert"></cv-icon-button>
</cv-toolbar>

<!-- <cv-action-ribbon labelText="this is my label" state="active">
    <cv-button slot="action-items" label="Bulk action" class="mdc-banner__secondary-action" outlined></cv-button>
</cv-action-ribbon> -->

<img src="assets/placeholder-content/environment.png" style="max-width: 1344px; width: 100%; margin: 0 auto; display: block;"/>
