<div style="max-width: 1150px; margin: auto;">

<span style="display: flex; justify-content: space-between; align-items: center; height: 64px; margin-bottom: 24px;">
<cv-typography scale="headline6" class="environment-title">{{ sectionName }} environment</cv-typography>
  
<div style="position: relative;">
  <cv-button
id="org-primary-cta"
label="Create new"
icon="arrow_drop_down"
color="primary"
trailingIcon
raised
(click)="onCreateNew()"
#createNewMenuTrigger
></cv-button>
<cv-menu fixed corner="BOTTOM_START" #createNewMenu>
<cv-list-item [routerLink]="['/environments/' + sectionName + '/users/create']"  style="width: 300px;">
  <div class="select-container" >
      Users
      </div>
  </cv-list-item>
<cv-list-item [routerLink]="['/environments/' + sectionName + '/compute-groups/create']"  style="width: 300px;">
<div class="select-container" >
    Compute profile
    </div>
</cv-list-item>
<cv-list-item [routerLink]="['/environments/' + sectionName + '/backups/create']" style="width: 300px;">
  <div class="select-container" >
      Backup
      </div>
  </cv-list-item>
</cv-menu>
</div>
</span>

  <!-- <cv-action-ribbon labelText="this is my label" state="active">
    <cv-button slot="action-items" label="Bulk action" class="mdc-banner__secondary-action" outlined></cv-button>
</cv-action-ribbon> -->

  <img
    src="assets/placeholder-content/environment.png"
    style="width: 100%; margin: 0 auto; display: block"
  />
</div>


