.global-selector {
  width: 250px;
  background-color: var(--cv-theme-secondary-container);
  border-radius: 12px;
  padding: 4px 16px;
  &:hover {
    cursor: pointer;
  }

  .global-selector-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

:host {
  .secondary {
    color: var(--cv-theme-on-surface-variant);
  }
}


cv-list-item {
  min-width: 300px;
}
