<div style="position: relative">
  <div
    class="global-selector"
    id="global-switcher-button"
    (click)="onGlobalSelect()"
    #globalSwitcherTrigger
  >
    <div class="global-selector-inner">
      <cv-typography scale="subtitle1">{{ selectedSwitcherItem?.name }}</cv-typography>
      <span class="selector-icons">
        <cv-icon class="status-icon cv-theme-{{selectedSwitcherItem?.status?.state}}">{{selectedSwitcherItem?.status?.icon}}</cv-icon>
        <cv-icon>arrow_drop_down</cv-icon>
      </span>
    </div>
  </div>
  <cv-menu corner="BOTTOM_START" #globalSwitcherMenu>
    <ng-container
      *ngFor="let item of localGlobalSwitcherItems; index as i; last as isLast"
    >
      <cv-typography
        *ngIf="i === 1"
        class="environments-header"
        scale="caption"
        >Environments</cv-typography>
      <cv-list-item graphic="icon" [routerLink]="item?.url" hasMeta [ngClass]="{'org-item': item.id === 'org'}">
        <cv-icon *ngIf="selectedSwitcherItem?.id === item.id" slot="graphic">
          check
        </cv-icon>
        <cv-text-lockup
          *ngIf="item.id === 'org'; else elseBlock"
          [ngClass]="
            selectedSwitcherItem?.id === item.id ? 'org--selected' : 'org'
          "
          scale="small"
          [subText]="item.description"
          >{{ item.name }}</cv-text-lockup
        >
        <ng-template #elseBlock>
          <cv-typography  scale="body1">{{ item.name }}</cv-typography>
        </ng-template>
        <cv-typography  *ngIf="item.id !== 'org'"  scale="caption" class="cv-theme-{{item.status?.state}}" slot="meta">
          <cv-icon>{{item.status?.icon}}</cv-icon>
          {{item.status?.message ? item.status?.message : item.description}}
        </cv-typography>
      </cv-list-item>
      <div class="tree-divider" *ngIf="item.id !== 'org'" [ngClass]="{'last': isLast}" >
          <div class="tree-divider-line"></div>
      </div>
    </ng-container>
  </cv-menu>
</div>
