<cv-card class="learn-content" outlined>
  <div class="learn-title">
    <cv-typography scale="headline5">Get started</cv-typography>
    <cv-typography scale="body1"
      >Learn the basics of VantageCloud Lake</cv-typography
    >
  </div>

  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon" iconFont="covalent-icons"
            >teradata</cv-icon
          >
          <span class="learn-text-container">
            <cv-typography scale="headline6">Trials links</cv-typography>
            <cv-typography scale="body2"
              >Understand your trial experience</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon" iconFont="covalent-icons">server</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6">Create environments</cv-typography>
            <cv-typography scale="body2"
              >Step-by-step guide for creating environments</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">network_locked</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6"
              >Enable network access</cv-typography
            >
            <cv-typography scale="body2"
              >Allow specific IP addresses and private network connections to
              your environment for external tools and other users. You can use
              the built in SQL editor if you don’t have that
              information.</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">people</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6">Add users</cv-typography>
            <cv-typography scale="body2"
              >Add users to an environment database</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">network_locked</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6"
              >Explore real world use cases</cv-typography
            >
            <cv-typography scale="body2"
              >Hands-on tutorials that walk you through practical examples used
              by many of our customers</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
  </div>
</cv-card>

<cv-card class="learn-content">
  <div class="learn-content-inner">
    <cv-icon class="learn-icon" iconFont="covalent-icons">teradata</cv-icon>
    <div class="learn-text-actions">
      <div class="learn-text-container">
        <cv-typography scale="headline5"
          >Get started with VantageCloud Lake</cv-typography
        >
        <cv-typography scale="body1"
          >Learn the basics of VantageCloud Lake</cv-typography
        >
      </div>
      <cv-button label="Start tutorial" raised></cv-button>
    </div>
  </div>
</cv-card>

<cv-card class="learn-content">
  <div class="learn-title">
    <cv-typography scale="headline5">Additional resources</cv-typography>
  </div>

  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">list_alt</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6">Resource center</cv-typography>
            <cv-typography scale="body2"
              >View all how-tos, learn what's new, and review step-by-step
              configuration best practices.</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">new_releases</cv-icon>
          <span class="learn-text-container">
            <cv-typography scale="headline6">What's new</cv-typography>
            <cv-typography scale="body2"
              >Learn about new features and the latest changes.</cv-typography
            >
          </span>
        </div>
      </cv-card>
    </div>
  </div>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">list_alt</cv-icon>
          <div class="learn-text-actions">
            <span class="learn-text-container">
              <cv-typography scale="headline6">Documentation</cv-typography>
              <cv-typography scale="body2"
                >our resource for complete product guides, quick starts,
                tutorials, and technical publications.</cv-typography
              >
            </span>
            <cv-icon>open_in_new</cv-icon>
          </div>
        </div>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card interactive outlined fullHeight>
        <div class="learn-content-inner">
          <cv-icon class="learn-icon">download</cv-icon>
          <div class="learn-text-actions">
            <span class="learn-text-container">
              <cv-typography scale="headline6"
                >Downloads & drivers</cv-typography
              >
              <cv-typography scale="body2"
                >Find tools to improve your workflow with
                Vantage.</cv-typography
              >
            </span>
            <cv-icon>open_in_new</cv-icon>
          </div>
        </div>
      </cv-card>
    </div>
  </div>
</cv-card>
