.logo {
  cursor: pointer;
  outline: none;
}

:host {
      cv-button {
    --mdc-theme-text-primary-on-background: #3053f4ff;
    // --mdc-theme-on-primary: #324369ff;
  
  }
  .secondary {
    color: #484b5fff;
  }
}
