<cv-toolbar>
    <span slot="title">{{sectionName}}</span>
    <cv-icon-button slot="actionItems" icon="info"></cv-icon-button>
    <cv-button label="Reject" slot="actionItems" outlined></cv-button>
    <cv-button label="Approve" slot="actionItems" outlined></cv-button>
    <cv-button label="Evaluate" slot="actionItems" outlined></cv-button>
    <cv-icon-button slot="actionItems" icon="more_vert"></cv-icon-button>
</cv-toolbar>

<div class="container">
    <img src="assets/placeholder-content/model-run-steps.png" style="width: 100%; margin: 0 auto; display: block;"/>

    <cv-expansion-panel titleWidth="16em" outlined>
      <cv-expansion-panel-item title="Title" contentPreview="Content preview" istoppanel>
        <div slot="content">Content</div>
      </cv-expansion-panel-item>
      <cv-expansion-panel-item title="Lorem ipsum dolor" contentPreview="Content preview" isinnerpanel>
        <div slot="content">Content</div>
      </cv-expansion-panel-item>
      <cv-expansion-panel-item title="Lorem ipsum dolor" contentPreview="Content preview" isinnerpanel>
        <div slot="content">Content</div>
      </cv-expansion-panel-item>
      <cv-expansion-panel-item title="Lorem ipsum dolor" contentPreview="Content preview" isbottompanel>
        <div slot="content">Content</div>
      </cv-expansion-panel-item>
    </cv-expansion-panel> 
</div>




