
<cv-card actionBar outlined style="max-width: 900px; display: flex; margin: 0 auto;">
<cv-toolbar>
    <span slot="title">Compute profiles</span>
    <cv-icon-button slot="actionItems" icon="menu_open"></cv-icon-button>
    <cv-icon-button class="hidden-large" slot="actionItems" icon="add"></cv-icon-button>
    <cv-button (:click)="onCreateCompute()" color="primary" class="hidden-small" label="Create compute profile" slot="actionItems" raised></cv-button>
</cv-toolbar>
<img src="assets/placeholder-content/compute-list.png" style="width: 100%; margin: 0 auto; display: block;"/>
</cv-card>