.overlay-container {
    position: absolute;
    left: 264px;
    top: 60px;
    width: 300px;
}

.select-container{
    display: flex;
    align-items: flex-end;
}

.item-selected {
    padding-right: 24px;
    display: flex;
}

.select-container-subnav {
    padding-left: 32px;
}