<cv-card class="overlay-container">
    <cv-list activatible>
        <cv-list-item>
            <div class="select-container">
            <div class="item-selected">
                <cv-icon> check </cv-icon>
            </div>
            <div style="display: flex; flex-direction: column; width: 100%;">
                <cv-typography style="line-height: 0.2; font-weight: bold; " scale="body1">ACME</cv-typography>
                <cv-typography class="secondary" style="line-height: 0.0" scale="body2">Organization</cv-typography>
               </div>
            </div>
          </cv-list-item>
        <cv-list-item>
            <div class="select-container">
            <div class="item-selected">
                <cv-icon> check </cv-icon>
            </div>
            <div style="display: flex; flex-direction: column; width: 100%;">
                Production
               </div>
            </div>
          </cv-list-item>
        <cv-list-item>
            <div class="select-container">
            <div class="select-container-subnav">
            <div class="item-selected">
                <cv-icon> check </cv-icon>
            </div>
            <div style="display: flex; flex-direction: column; width: 100%;">
                Production
               </div>
            </div>
            </div>
          </cv-list-item>
        <cv-list-item>
          Production
        </cv-list-item>
        <cv-list-item>
          Staging
        </cv-list-item>
        <cv-list-item>
            Development
          </cv-list-item>
      </cv-list>
  </cv-card>