<div style="max-width: 800px; width: 100%; margin: 0 auto; display: block;">
<cv-toolbar style="margin-top: 24px">
    <span
      slot="title"
      style="display: flex; align-items: flex-start; padding-left: 24px"
    >
      <cv-icon-button
      style="padding-right: 12px;"
        routerLink="/"
        slot="actionItems"
        icon="arrow_back"
      ></cv-icon-button>
      <div style="display: flex; flex-direction: column;">
          <cv-typography style="padding-top: 6px;" scale="headline5">Create user</cv-typography>
      </div>
  
    </span>
    <cv-icon-button slot="actionItems" icon="info"></cv-icon-button>
  </cv-toolbar>

<!-- <cv-action-ribbon labelText="this is my label" state="active">
    <cv-button slot="action-items" label="Bulk action" class="mdc-banner__secondary-action" outlined></cv-button>
</cv-action-ribbon> -->

<img src="assets/placeholder-content/create-users.png" style="width: 100%; margin: 0 auto; display: block;"/>
</div>