
@use '@angular/material' as mat;
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/data-table/data-table' as data-table;

@import '../node_modules/@covalent/components/style.css';

@import '../node_modules/@covalent/core/theming/all-theme';
@import '../node_modules/@covalent/core/theming/teradata-theme';
@import '../node_modules/@covalent/markdown/markdown-theme';
@import '../node_modules/@covalent/highlight/highlight-theme';
@import '../node_modules/@covalent/flavored-markdown/flavored-markdown-theme';
@import '../node_modules/@covalent/markdown-navigator/markdown-navigator-theme';

@import './reset';

// Include the core styles for Covalent
@include covalent-core();

// Include material icons
$mat-font-url: './';
@include covalent-material-icons();

// Include covalent utility classes
@include covalent-utilities();

// Include flex layout classes
@include covalent-layout();

// Include covalent color classes
@include covalent-colors();

@include data-table.core-styles;
@include data-table.theme-baseline;

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat.core();

// Use the default configuration.
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

//Light theme
$theme-light: $td-light-theme;

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($theme-light);
@include mat.all-component-themes($theme-light);
@include covalent-theme($theme-light);
@include covalent-markdown-theme($theme-light);
@include covalent-highlight-theme($theme-light);
@include covalent-flavored-markdown-theme($theme-light);
@include covalent-markdown-navigator-theme($theme-light);
@include covalent-markdown-navigator-typography($td-custom-typography);


// Dark theme
@media (prefers-color-scheme: dark) {
  $theme-dark: $td-dark-theme;

  @include mat.core-theme($theme-dark);
  @include mat.all-component-themes($theme-dark);
  @include covalent-theme($theme-dark);
  @include covalent-markdown-theme($theme-dark);
  @include covalent-highlight-theme($theme-dark);
  @include covalent-flavored-markdown-theme($theme-dark);
  @include covalent-markdown-navigator-theme($theme-dark);

  body {
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }
}


:root {
  tr.mdc-data-table__row.mdc-data-table__row--non-interactive:not(.mdc-data-table__row--selected):hover {
    background-color: transparent;
  } 
  --mdc-icon-font: 'Material Symbols Outlined';
}

.mat-icon {
  font-family: var(--mdc-icon-font);
}

.cv-theme-positive {
  color:var(--mdc-theme-positive) !important;
}
.cv-theme-negative {
  color:var(--mdc-theme-negative) !important;
}
.cv-theme-caution {
  color:var(--mdc-theme-caution) !important;
}
.cv-theme-primary {
  color:var(--mdc-theme-primary) !important;
}

.cv-search-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--mdc-theme-border);
  padding: 0 8px 0 16px;
  min-height: 57px;
  

  cv-typography {
    margin-left: 32px;
    color: var(--mdc-theme-text-disabled-on-background)
  }
}

.mdc-data-table__cell  {
  cv-icon {
      margin-top:-4px;
  }
  cv-icon, cv-circular-progress {
      float: left;
      margin-right: 8px;
  }
}

/* Dumb stuff */
[ng-reflect-router-link] {
  cursor: pointer;
}

