<div class="mdc-layout-grid">
  <div class="welcome-container">
    <cv-typography scale="headline5" class="welcome-headline"
      >VantageCloud Lake dashboard</cv-typography
    >

    <div style="position: relative">
      <cv-button
        id="org-primary-cta"
        label="Create new"
        icon="arrow_drop_down"
        color="primary"
        trailingIcon
        raised
        (click)="onCreateNew()"
        #createNewMenuTrigger
      ></cv-button>
      <cv-menu #createNewMenu fixed corner="BOTTOM_START">
        <cv-list-item
          [routerLink]="['/environments', 'create']"
          style="width: 300px"
        >
          <div class="select-container">Environment</div>
        </cv-list-item>
        <cv-list-item
          [routerLink]="['/access-management/users/create']"
          style="width: 300px"
        >
          <div class="select-container">Users</div>
        </cv-list-item>
      </cv-menu>
    </div>
  </div>

  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <cv-card cardTitle="Recently viewed" outlined fullHeight>
        <cv-list>
          <a routerLink="/learn"><cv-list-item>
            Docs & Support - Learn
          </cv-list-item></a>
          <a routerLink="/environments/production"><cv-list-item>
            Production
          </cv-list-item></a>
          <a routerLink="/environments/production/backups"
          ><cv-list-item>
            Production backups
          </cv-list-item></a>
        </cv-list>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5">
      <cv-card cardTitle="Common tasks" outlined fullHeight>
        <cv-list>
          <cv-list-item
            [routerLink]="['environments', 'create']"
            graphic="avatar"
            selected
            hasMeta
            twoLine
          >
            Create environment
            <span slot="secondary">
              Step-by-step guide for creating environments
            </span>
            <div slot="graphic"><cv-icon covalent-icon> server </cv-icon></div>
          </cv-list-item>
          <cv-list-item
            [routerLink]="['environments', 'production', 'settings']"
            graphic="avatar"
            selected
            hasMeta
            twoLine
          >
            Enable network access
            <span slot="secondary">
              Allow other systems and tools to connect.
            </span>
            <div slot="graphic"><cv-icon> network_locked </cv-icon></div>
          </cv-list-item>
          <cv-list-item
            [routerLink]="['access-management', 'users']"
            graphic="avatar"
            selected
            hasMeta
            twoLine
          >
            Add users
            <span slot="secondary">Add users to a environment’s database.</span>
            <div slot="graphic"><cv-icon> people </cv-icon></div>
          </cv-list-item>
          <cv-list-item
            [routerLink]="['access-management', 'identity-providers']"
            graphic="avatar"
            selected
            hasMeta
            twoLine
          >
            Setup your identity provider
            <span slot="secondary">
              Enable SSO for your organization and users.
            </span>
            <div slot="graphic">
              <cv-icon covalent-icon> connected_identity </cv-icon>
            </div>
          </cv-list-item>
        </cv-list>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
      <cv-card cardTitle="Overview" noninteractiveoutlined>
        <cv-list>
          <cv-list-item hasMeta noninteractive twoLine>
            ACME
            <span slot="secondary">Lake ID</span>
          </cv-list-item>
          <cv-list-item hasMeta noninteractive twoLine>
            acme
            <span slot="secondary">domain name</span>
          </cv-list-item>
          <cv-list-item hasMeta noninteractive twoLine>
            ACME Lake for the Marketing org
            <span slot="secondary">Description</span>
          </cv-list-item>
          <cv-list-item hasMeta noninteractive twoLine>
            aws
            <span slot="secondary">Platform</span>
          </cv-list-item>
          <cv-list-item hasMeta noninteractive twoLine>
            VLAMFAKEBK0009K
            <span slot="secondary">Site ID</span>
          </cv-list-item>
          <cv-list-item hasMeta noninteractive twoLine>
            United States
            <span slot="secondary">Regions</span>
          </cv-list-item>
        </cv-list>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card cardTitle="Environments" outlined actionBar>
        <cv-list>
          <cv-list-item
            [routerLink]="['environments', 'production']"
            hasMeta
            threeLines
          >
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Production - us-west-2</cv-text-lockup
            >
            <span slot="meta"><cv-icon>arrow_forward</cv-icon></span>
          </cv-list-item>
          <cv-list-item
            [routerLink]="['environments', 'staging']"
            hasMeta
            threeLines
          >
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Staging - us-west-2</cv-text-lockup
            >
            <span slot="meta"><cv-icon>arrow_forward</cv-icon></span>
          </cv-list-item>
          <cv-list-item
            [routerLink]="['environments', 'development']"
            hasMeta
            threeLines
          >
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Development - us-west-2</cv-text-lockup
            >
            <span slot="meta"><cv-icon>arrow_forward</cv-icon></span>
          </cv-list-item>
        </cv-list>
        <div slot="card-actions">
          <cv-button label="Create environment" color="primary"> </cv-button>
        </div>
      </cv-card>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
      <cv-card cardtitle="Recent backups" outlined actionBar>
        <cv-list>
          <cv-list-item threeLines hasMeta>
            <cv-text-lockup
              subtext="Running"
              scale="small"
              icon="pending"
              state="caution"
              trailingSubText
              >Production backup</cv-text-lockup
            >
            <span slot="meta"
              ><cv-icon slot="meta">arrow_forward</cv-icon></span
            >
          </cv-list-item>
          <cv-list-item threeLines hasMeta>
            <cv-text-lockup
              subtext="Complete"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Staging backup</cv-text-lockup
            >
            <span slot="meta"><cv-icon>arrow_forward</cv-icon></span>
          </cv-list-item>
          <cv-list-item threeLines hasMeta>
            <cv-text-lockup
              subtext="Complete"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Development backup</cv-text-lockup
            >
            <span slot="meta"><cv-icon>arrow_forward</cv-icon></span>
          </cv-list-item>
        </cv-list>

        <div slot="card-actions">
          <cv-button color="primary" label="All backups"></cv-button>
        </div>
      </cv-card>
    </div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <!-- 

<div class="mdc-data-table" style="display: flex" style="display: flex">
  <div class="mdc-data-table__table-container">
    <table class="mdc-data-table__table" aria-label="Dessert calories">
      <thead>
        <tr class="mdc-data-table__header-row">
          <th
            class="mdc-data-table__header-cell"
            role="columnheader"
            scope="col"
          ></th>
          <th
            class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
            role="columnheader"
            scope="col"
          >
            Units remaining
          </th>
          <th
            class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
            role="columnheader"
            scope="col"
          >
            Units consumed
          </th>
          <th
            class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
            role="columnheader"
            scope="col"
          >
            Primary cluster
          </th>
          <th
            class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
            role="columnheader"
            scope="col"
          >
            Compute clusters
          </th>
          <th
            class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
            role="columnheader"
            scope="col"
          ></th>
        </tr>
      </thead>
      <tbody class="mdc-data-table__content">
        <tr class="mdc-data-table__row mdc-data-table__row--non-interactive">
          <th class="mdc-data-table__cell" scope="row">
            <cv-typography scale="headline6">Overall</cv-typography>
          </th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-typography scale="headline6">300 K</cv-typography>
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-typography scale="headline6">500 K</cv-typography>
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-typography scale="headline6">435 K</cv-typography>
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-typography scale="headline6">65 K</cv-typography>
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
        </tr>
        <tr
          class="mdc-data-table__row"
          [routerLink]="['environments', 'Production']"
        >
          <th class="mdc-data-table__cell" scope="row">
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Production</cv-text-lockup
            >
          </th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            125 K
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            100 K (85%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            25 K (15%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-icon-button icon="arrow_forward"></cv-icon-button>
          </td>
        </tr>
        <tr
          class="mdc-data-table__row"
          [routerLink]="['environments', 'Staging']"
        >
          <th class="mdc-data-table__cell" scope="row">
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Staging</cv-text-lockup
            >
          </th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            25 K
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            23 K (92%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            2 K (18%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-icon-button icon="arrow_forward"></cv-icon-button>
          </td>
        </tr>
        <tr
          class="mdc-data-table__row"
          [routerLink]="['environments', 'Development']"
        >
          <th class="mdc-data-table__cell" scope="row">
            <cv-text-lockup
              subtext="Active"
              scale="small"
              icon="check"
              state="positive"
              trailingSubText
              >Development</cv-text-lockup
            >
          </th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            100 K
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            92 K (92%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            8 K (8%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-icon-button icon="arrow_forward"></cv-icon-button>
          </td>
        </tr>
        <tr
          class="mdc-data-table__row"
          [routerLink]="['environments', 'Your sandbox']"
        >
          <th class="mdc-data-table__cell" scope="row">
            <cv-text-lockup
              subtext="Deploying"
              scale="small"
              icon="pending"
              state="active"
              trailingSubText
              >Your sandbox</cv-text-lockup
            >
          </th>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric"></td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            250 K
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            220 K (88%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            30 K (12%)
          </td>
          <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
            <cv-icon-button icon="arrow_forward"></cv-icon-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
  </div>
</div>
