<cv-toolbar>
    <span slot="title">{{sectionName}}</span>
    <span slot="actionItems" style="display: flex;align-items: center;">
        <cv-typography scale="caption" style="display: inline;">Data updated 5 minutes ago</cv-typography>
        <cv-icon-button icon="refresh"></cv-icon-button>
        <cv-select>
            <cv-list-item>Term 1: Jan 1, 2022–Dec 31, 2022</cv-list-item>
        </cv-select>
        <cv-icon-button icon="download"></cv-icon-button>
        <cv-icon-button icon="info"></cv-icon-button>
        <cv-icon-button icon="more_vert"></cv-icon-button>    
    </span>

</cv-toolbar>

<img src="assets/placeholder-content/consumption-chart.png" style="width: 100%; margin: 0 auto; display: block;"/>
